html {
    height: 100%;
}

body {
    background-image: repeating-linear-gradient(#FC5E55, #FA4083);
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 1.125rem;
    /* font-weight: 700; */

}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;


}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



main {
    min-height: 300px;
    display: flex;
    align-items: center;

}


.cards {
    background-color: rgb(153, 255, 0);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}


.card1 {
    background-color: hotpink;
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: rgb(255, 58, 156);
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: rgb(250, 16, 133);
    min-height: 300px;
    width: 30%;
}


.hero-box1 {
    flex: 2;
    padding-right: 100px;
}


.hero-box2 {
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5rem;
    margin-bottom: .5rem;
}